In [ ]:
import sys, os
sys.path.append(os.path.abspath(".."))  # add project root
import pandas as pd
import numpy as np
from scipy import stats
pd.set_option("display.float_format", lambda x: "%.2f" % x)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)

In [ ]:
# Load property dataset
properties_df = pd.read_csv('../data/stage2/cleaned_stage2.csv')

# Load median income (GDP) dataset
income_df = pd.read_csv('../data/raw/median_income.csv')

# Load geographic mapping with arrondissement and province info
geo_mapping = pd.read_csv('../data/raw/TF_SOC_POP_STRUCT_2025.csv')

# Load postal code to municipality mapping
postal_codes_df = pd.read_csv('../data/raw/postal-codes-belgium.csv', sep=';', encoding='utf-8-sig')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15232 entries, 0 to 15231
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   build_year          6226 non-null   object
 1   facades             10088 non-null  float64
 2   garden              15232 non-null  object
 3   living_area         13504 non-null  object
 4   locality_name       15012 non-null  object
 5   number_rooms        13980 non-null  object
 6   postal_code         15008 non-null  float64
 7   price               14389 non-null  float64
 8   property_id         15232 non-null  object
 9   property_type       14236 non-null  object
 10  property_url        15232 non-null  object
 11  state               11116 non-null  object
 12  swimming_pool       15232 non-null  object
 13  terrace             13832 non-null  object
 14  province            15008 non-null  object
 15  property_type_name  14232 non-null  object
 16  state_mapped        11112 non-null  object
dtypes: float64(3), object(14)
memory usage: 2.0+ MB

In [4]:
df.describe(include='all')

,build_year,facades,garden,living_area,locality_name,number_rooms,postal_code,price,property_id,property_type,property_url,state,swimming_pool,terrace,province,property_type_name,state_mapped
count,6226,10088.00,15232,13504,15012,13980,15008.00,14389.00,15232,14236,15232,11116,15232,13832,15008,14232,11112
unique,182,NaN,3,795,1372,28,NaN,NaN,15229,23,15229,10,3,3,11,3,2
top,2025,NaN,1,150,Namur,2,NaN,NaN,property_id,Apartment,url,New,0,1,Antwerp,apartment,ready_to_move_in
freq,538,NaN,7847,142,509,4836,NaN,NaN,4,6141,4,5244,14855,11417,2246,7351,9480
mean,NaN,2.88,NaN,NaN,NaN,NaN,4514.21,388511.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,0.86,NaN,NaN,NaN,NaN,2642.28,272957.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.00,NaN,NaN,NaN,NaN,1000.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,2.00,NaN,NaN,NaN,NaN,2250.00,250000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,3.00,NaN,NaN,NaN,NaN,4020.00,329500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,4.00,NaN,NaN,NaN,NaN,6700.00,440000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,4.00,NaN,NaN,NaN,NaN,9991.00,8600002.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df['garden'].unique()

array(['1', '0', 'garden'], dtype=object)